<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="bc42591f-57ef-4e22-967b-cc0561d5b3b9"
            Publisher="CN=Motz"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>triconf</DisplayName>
    <PublisherDisplayName>Motz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>triconf</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App" 
        Executable="$targetnametoken$.exe" 
        EntryPoint="triconf.App">
        <VisualElements 
            DisplayName="triconf"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="triconf"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>